{% extends 'products/base.html' %}
{% load static %}
{% block title %}
    <title>Login</title>
{% endblock %}

{% block body %}
    <div style="position: absolute; width:100%;height: 100%; background: linear-gradient(16deg, rgba(236, 213, 255, 1) 0%, rgba(89, 227, 255, 1) 100%); background-size: cover">
        <div style="width: 50%; margin: 4vh auto; border: 1px solid gray; background-color: white; padding: 2vh; border-radius: 1vh;">
            {% for i in images %}
                <p>
                    {{ i.image }}
                    <a class="btn btn-danger" href="{% url 'users:delete_image' i.id %}">Delete</a>
                </p>
            {% endfor %}
            <form action="" method="post" style="width: 100%" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn btn-success" value="Add">
            </form>
        </div>
    </div>

{% endblock %}